@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --font-size-card-title: 1.5rem;
  --font-size-card-text: 1.2rem;
  --font-size-card-secondary: 1rem;
  --secondary-color: #555;
}

@media (max-width: 768px) {
  /* Tablets & smaller */
  :root {
    --font-size-card-title: 1.75rem;
    --font-size-card-text: 1.4rem;
    --font-size-card-secondary: 0.8rem;
  }
}

@media (max-width: 480px) {
  /* Mobile devices */
  :root {
    --font-size-card-title: 2rem;
    --font-size-card-text: 1.6rem;
    --font-size-card-secondary: 1rem;
  }
}

@media (min-width: 1200px) {
  /* Large screens */
  :root {
    --font-size-card-title: 2rem;
    --font-size-card-text: 1.5rem;
    --font-size-card-secondary: 1rem;
  }
}

/** UTILITY **/
.column-2-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** CARD UTILITY **/

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.51);
}

.clock-card {
  font-size: calc(var(--font-size-card-title) + 0.3vw);
  font-weight: 600;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-heading {
  font-size: var(--font-size-card-title);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-heading-highlight {
  font-size: calc(var(--font-size-card-secondary) + 0.02vw);
  color: var(--secondary-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-information-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.single-information-card label {
  font-size: var(--font-size-card-title);
  font-weight: 600;
}

.icon {
  color: rgb(0, 102, 255);
}
