.card {
  background-color: white;
  padding: var(--input-padding);
  border-radius: var(--input-padding);
  padding: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.location-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card h1 {
  padding: 0;
  margin: 0;
}

.card h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-500);
}

.card-heading h1 {
  font-weight: var(--fw-600);

  color: rgba(0, 0, 0, 0.623);
}

.single-information-card {
  min-width: 100px;

  display: flex;
  flex-direction: column;
}

.single-information-headline {
  font-size: var(--fs-400);
  color: rgba(0, 0, 0, 0.623);
}

.single-information-detail {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}
