@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --font-size-card-title: 1.6rem; /* ~20px */
  --font-size-card-text: 1.2rem; /* ~16px */
}
/** CARD UTILITY **/

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.51);
}

.clock-card {
  font-size: calc(var(--font-size-card-title) + 0.3vw);
  font-weight: 600;
  font-family: monospace;
}
