main {
  background-color: #ececec;
  padding: var(--main-padding);
  height: 100%;
  box-sizing: border-box;
}

.main-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}

.left-side {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);
}

.information-section {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.section-heading {
  padding: 0;
  margin: 0;
  font-weight: var(--fw-600);
}

.single-information-section {
  gap: var(--grid-gap);
  display: flex;
}

.map-container {
  flex-grow: 1;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}
