:root {
  --grid-gap: 20px;
}

main {
  background-color: #e0e0e0;
  padding: 25px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);
}

main section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-side {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--grid-gap);
}
.general-information-section {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.detailed-information-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}
