nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-heading {
  display: flex;
  flex-direction: column;
}

input {
  min-width: 400px;
  padding: 6px;
  font-size: 1rem;
}

/** UTILITY CLASS **/

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 10px;
}

/** CLASSES **/

.highlight {
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
